:root {
  --primary-bg-color: #e1eef7;
  --text-color: #305365;
  --main-bg-color: #b2d5eb;
  --main-text-color: #032d3e;
  --main-btn-bg-color: #e1eef7;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Winky Rough", sans-serif;
    font-weight: 00;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */


/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 50px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size:1.5rem;
  padding: 16px 0;
  text-align: center;
  width: 100%;
  height: 70px;
  
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  font-size:1.1rem;
  display: flex;
  justify-content: top;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.timeDisplay {
  padding-left: 100%;
}
#clickText{
  cursor: pointer
}
#popUpInformation{
  border: 1px solid var(--primary-bg-color);
  margin: center;
  box-shadow: 0 0 10px var(--primary-bg-color);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 5em;
  z-index: 999;
}
#closePopUp {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  border: transparent;
  width: 25px;
}
