/* why I choose to use...*/
* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(175, 174, 174);
}
/* I have set the background colour to this gray because it is close to the colour of the image.
 */
body{
    background-image: url(background.jpg);
}
/* I have tried to insert multiple images for the background,
and this images matches best with the theme I want to create, 
also because when I tried with other images, it appears as multiple 
pictures in one. */
.box {
    width: 100%; 
    height: 30%; 
    background-color: rgb(139, 139, 139);
    padding: 30px;
}
/* this box is for the title of the website, I had to adjust it for a few times
as it appeared to have weird gaps and sizing at the srtart. I created this box because
I want to highlight the title and bracket it out with other contents. */
h1{
    font-family: "Bytesized", sans-serif;
    font-weight:bold;
    font-style: normal;
    font-size: 3rem;
    flex-wrap: wrap;
    text-align: center;
}
@keyframes colorChange {
  0% { color: red; }
  25%{color:orange}
  50% { color: yellow; }
  75%{color:rgb(27, 239, 12)}
  100% { color: blue; }
}
/* I have chose this font particularly as it has a gaming style, it is pixelated and matches the style I wanted to create
with alannn.com. later on I felt like something is missing with the font, seemed a bit boring, so I search for adding colour animations
to the font, the colour changes from red, orange, yellow, green to blue, and continously looping.
The colour follows the rainbow colour and gives a playfil feeling. It is also a main focus of the website, as the overall colour is gray.
  */
#below{
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:2rem 
  }

a{
    background-color: transparent;
    color: rgb(251, 18, 119) 
    /* I have chose a hotpink colour because this colour is very bright and eye catching */
}

h3 {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 3px;
    letter-spacing: 0.4px;
    font-size: 1.4rem ;
    font-weight: 50;
    color:rgb(82, 80, 80) 
}

h4 {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    font-size: 1.4rem ;
    font-weight: 10% ;
    color:rgb(39, 38, 38)
}
h4{
  margin-bottom: 2%;
  margin-top: 2%;
}

li {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    font-size: 0.9rem ;
    font-weight: 50;
    color:rgb(82, 80, 80);
}
/* All the texts uses the same font and sizings because I want them to look united and simple,
instead of dazzling all over the screen. */

  .box {
    animation: colorChange 5s infinite;
  }

  #ebox{
    background-color: rgb(120, 120, 120);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 50ch;
  }
  /* I have increase the value of the colour by 10 each time to create a gradient ramp, providing a visual effect when scrolling down. */
  #rbox{
    background-color: rgb(130, 130, 130);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #tbox{
    background-color: rgb(140, 140, 140);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #ybox{
    background-color: rgb(150, 150, 150);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #ubox{
    background-color: rgb(160, 160, 160);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #abox{
    background-color: rgb(170, 170, 170);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #sbox{
    background-color: rgb(180, 180, 180);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #dbox{
    background-color: rgb(190, 190, 190);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #fbox {
    background-color: rgb(200, 200, 200);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #gbox {
    background-color: rgb(210, 210, 210);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #hbox {
    background-color: rgb(220, 220, 220);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #jbox {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #cbox {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
    .zoom-text {
        
        font-size: 20px;
        transition: transform 0.3s ease-in-out, color 0.3s, text-shadow 0.3s;
        text-align: center;
    }
      
      .zoom-text:hover {
        transform: scale(1.5);
        color: rgb(255, 255, 255);
        text-align: center;
       
      }
      /* I have used a zoom in tool for my answers of the question,
      it is a type of interaction when mouse hover on it, the text zooms in and changes its colour to white. 
      highlighting my answer compare to the question and the overall colour theme.  */
