/* why I choose to use...*/
* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(175, 174, 174);
}

.box {
    width: 100%; 
    height: 30%; 
    background-color: rgb(139, 139, 139);
    padding: 30px;
}

h1{
    font-family: "Bytesized", sans-serif;
    font-weight:bold;
    font-style: normal;
    font-size: 3rem;
    flex-wrap: wrap;
    text-align: center;

}
#below{
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:2rem 
  }

a{
    background-color: rgb(139, 139, 139);
    color: rgb(251, 18, 119) 
    
}

h3 {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 3px;
    letter-spacing: 0.4px;
    font-size: 1.4rem ;
    font-weight: 50;
    color:rgb(82, 80, 80) 
    
}

h4 {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    font-size: 1.4rem ;
    font-weight: 10% ;
    color:rgb(39, 38, 38) 

}
li {
    font-family:  "Anton", sans-serif;
    line-height: 1.4;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    font-size: 0.9rem ;
    font-weight: 50;
    color:rgb(82, 80, 80);
}
h4{
    margin-bottom: 2%;
    margin-top: 2%;

}

@keyframes colorChange {
    0% { color: red; }
    25%{color:orange}
    50% { color: yellow; }
    75%{color:rgb(27, 239, 12)}
    100% { color: blue; }


  }
  .box {
    animation: colorChange 5s infinite;
  }

  #ebox{
    background-color: rgb(70, 70, 70);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 50ch;
  }
  /* I have increase the value of the colour by 20 each time to create a gradient ramp, providing a visual effect when scrolling down. */
  #rbox{
    background-color: rgb(90, 90, 90);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #tbox{
    background-color: rgb(110, 110, 110);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #ybox{
    background-color: rgb(130, 130, 130);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #ubox{
    background-color: rgb(150, 150, 150);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  /* for the texts after this I have adjust the increasing value of 20 to 10, because there isn't enough values if I countinously raise by 20. White is the maximum  (rgb 255,255,255) */
  #abox{
    background-color: rgb(170, 170, 170);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #sbox{
    background-color: rgb(180, 180, 180);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #dbox{
    background-color: rgb(190, 190, 190);
    padding: 5px;
    margin: auto;
    line-height: 50px;
    max-width: 100ch;
  }
  #fbox {
    background-color: rgb(200, 200, 200);
    padding: 5px;
    margin: auto;
    line-height: 50px;
  }
  #gbox {
    background-color: rgb(210, 210, 210);
    padding: 5px;
    margin: auto;
    line-height: 50px;
  }
  #hbox {
    background-color: rgb(220, 220, 220);
    padding: 5px;
    margin: auto;
    line-height: 50px;
  }
  #jbox {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    margin: auto;
    line-height: 50px;
  }
  #cbox {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    margin: auto;
    line-height: 50px;
  }
    .zoom-text {
        
        font-size: 20px;
        transition: transform 0.3s ease-in-out, color 0.3s, text-shadow 0.3s;
        text-align: center;
    }
      
      .zoom-text:hover {
        transform: scale(1.5);
        color: rgb(255, 255, 255);
        text-align: center;
       
      }
