.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 500px;
  padding: 20px;
}

.card {
  width: 80%;
  aspect-ratio: 1/1;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 340px;
height: 500px;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face.back {
  transform: rotateY(180deg);
}

.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
